body {
    background-color: #ffffff !important;
}

.swagger-ui .info .title {
    color: #3b4151 !important;
}

.swagger-ui .info .description,
.swagger-ui .info .version {
    color: #3b4151 !important;
}

.swagger-ui .scheme-container {
    background-color: #fafafa !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15) !important;
}

.swagger-ui .btn {
    background-color: transparent !important;
}

.swagger-ui .response-col_status,
.swagger-ui .response-col_description {
    color: #3b4151 !important;
}

.topbar {
    background-color: #1b1c1d !important;
}